
#home
    #content
        padding 0 40px
        text-align center

    .box
        margin 0 auto


#features
    text-align center
    width 900px
    margin 0 auto

    .feat
        float left
        width 210px
        height 360px
        position relative

    section
        position absolute
        bottom 0

.file
    background-color blue
    color #fff
    float left
    text-align center
    padding 40px 0
    width 87px
    margin 6px


.flower
    sprite(-137px)
    width  163px
    height  160px
    margin 40px auto

.arrow
    height  50px
    width  62px
    float left
    sprite -79px
    margin 95px 30px 0 40px


#feat1
    padding 6px
    margin-right 12px
    position relative
    left 6px
    color #fff

#feat3
    .box
        margin-top 55px
        width 170px

    .file
        padding 45px 0
        width 158px