
/* constants */
base = #444
gray = #777
blue = #00ABC9
pink = #DB0075

/* base style & stulus functions */
@import "base/reset.css"
@import "base/css3"
@import "base/fix.css"

/* site specific style */
@import "widgets"
@import "syntax"
@import "global"
@import "home"
@import "tour"
@import "doc"