
// http //lusislog.blogspot.com/2011/05/on-noah-part-3.html
.highlight
    overflow-x auto
    background-color rgb(77,77,77)
    padding 10px
    font-family Monaco, Consolas, "Lucida Console", monospace
    color #eee
    font-size 16px
    border-radius 3px

.code figcaption
    color: #CCC;
    text-align right
    margin -35px 6px 0
    font-size 11px


// #65B042, #3387CC, #89BDFF, #9B859D, #E28964, #DAD085, #C5AF75

.nt, .l-Scalar-Plain, .x
    color lighten(blue, 10)

.s, .s2, .p-Indicator, .k
    color lighten(pink, 10)

.c, .cm, .c1
    color #AEAEAE

/* colon */
.o
    color #E28964

/* parenthesis */
.p
    color #fff


.kd, .m, .na, .cp
   color #DAD085

.nx
    color #89BDFF