
.tour
    h1
        margin-bottom 70px

    img
        display block
        width 400px
        margin 0 auto
        margin-top -10px


    ul
        list-style-type none
        text-align center


    li
        width 280px
        display inline-block
        vertical-align top
        margin 5px 22px
        text-align left


#hubhero
    width 982px
    margin -20px 0 -50px 0


#chart
    width  900px
    margin 0 auto 30px auto

    p
        text-align center
        font-size 12px


    .bar
        padding 5px 0

        label, span, strong
            height  30px
            display inline-block
            height  height
            line-height  height
            vertical-align top

        label
            width 100px
            font-size 11px

        span
            background-color #999
            margin-right 8px
            border-radius 2px

#bar_static span
    linear-gradient blue, darken(blue, 10)